/* Your Website Styles */



}

/*body styles*/

body{

	
	font-size: 14px;
	color: #404040;
	margin: 10px;
	background: url("../img/square_bg.png") #29A9FF;
}

header{

position: absolute; 


}

/*header tag styles*/

h1{
	
	color: #E00083;

}


h2{



color: black;
font-size:30px;
font-family: 'Open Sans Condensed', sans-serif;
font-weight: 300;

}

h3{

	color:crimson;

}

h4{

font-size:20px;

}

/*anchor tag styles*/


a:link, a:visited { 
    color: crimson;
    text-decoration: none;
    cursor: auto;
}

a:link:active,  { 
    color: white;

}

a:hover{
	color:#0099FF;

}


/*More element styling*/

ul {
 list-style: none;
}

p{

	line-height: 36px;
	font-family: 'Montserrat', sans-serif;


}
	

nav {
	text-align: center;
	font-size: 17px;
	color: teal;
	position: fixed;
	background: url("../img/bg.png") white;
	width:100%;
	height: 135px;
	top:left;
	border-radius: 0 0 20px 20px;
	vertical-align: middle;
	font-family: 'Rock Salt', sans-serif;


}



nav a:link { 
    color: black;
    text-decoration: none;
    cursor: auto;

}

nav a:visited{

	color: black;
    text-decoration: none;
    cursor: auto;

}

nav a:link:active,  { 
    color: black;
}

nav a:hover{

color: yellow;

}


.nav1 a:hover{

color:#0099FF;



}

.nav2 a:hover{

color:gold;


}

.nav3 a:hover{

color:crimson;


}

.nav4 a:hover{

color:lime;


}



/*Some code below found on http://w3schools.com actual website structure*/

/*Id styles*/

#logo{

	text-align: center;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:55px;
	margin: 0 auto;
	background: #3399FF;
	opacity: 0.7;
	width: 600px;
	float: middle;
	border-radius: 40px 40px 40px 40px;
	box-shadow: 0px 0px 20px 3px #d3d3d3;
	

}



#page {
max-width: 1000px;
min-width: 320px;
float: left;
margin-left: 10px;
margin-top: 0px;
margin-right:10px;
margin-bottom:10px;
padding-top: 0px;
padding-bottom: 20px;
box-shadow: 10px 5px 20px 0px #d3d3d3;
border-radius: 4px;
background: url("../img/whitey.png") #F2F2F2;



}

#container{

	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	color: #404040;
	margin: 0px;
	background: black;


/*Below CSS code copied from http://stackoverflow.com/questions/114543/how-to-horizontally-center-a-div-in-a-div*/

	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}


#content{

padding:30px;
max-width: 1000px;
min-width: 320px;
margin-top: 100px;


}


/* Show Grid */

.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}


/*Class styles*/

.subhead {

font-style:italic;
margin-left: 30px;

}

.main {
max-width: 1000px;
min-width: 320px;
float: left;
overflow: hidden;

}

.headerimg{

margin-top: 100px


}

.menu{

margin:40px 20px 10px 0;

}

#title_cust1{

background-color: black;
border-radius: 3px 40px 40px 3px;
box-shadow: 0px 0px 20px 3px #d3d3d3;
color: black;
padding-left: 20px;
margin-left:-30px;
background: -webkit-linear-gradient(left, white , #3399FF); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(right, white, #3399FF); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, white, #3399FF); /* For Firefox 3.6 to 15 */
background: linear-gradient(to right, white , #3399FF); /* Standard syntax */


}

#title_cust2{

background-color: black;
border-radius: 3px 40px 40px 3px;
box-shadow: 0px 0px 20px 3px #d3d3d3;
color: lime;
padding-left: 20px;
margin-left:-30px;
background: -webkit-linear-gradient(left, black , lime); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(right, black, lime); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, black, lime); /* For Firefox 3.6 to 15 */
background: linear-gradient(to right, black , lime); /* Standard syntax */


}

#title_cust3{

background-color: black;
border-radius: 3px 40px 40px 3px;
box-shadow: 0px 0px 20px 3px #d3d3d3;
color: crimson;
padding-left: 20px;
margin-left:-30px;
background: -webkit-linear-gradient(left, black , crimson); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(right, black, crimson); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, black, crimson); /* For Firefox 3.6 to 15 */
background: linear-gradient(to right, black , crimson); /* Standard syntax */


}

#title_cust4{

background-color: black;
border-radius: 3px 40px 40px 3px;
box-shadow: 0px 0px 20px 3px #d3d3d3;
color: #FFD119;
padding-left: 20px;
margin-left:-30px;
background: -webkit-linear-gradient(left, black , #FFD119); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(right, black, #FFD119); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, black, #FFD119); /* For Firefox 3.6 to 15 */
background: linear-gradient(to right, black , #FFD119); /* Standard syntax */


}

.tabs{

background: url("../img/old_wall.png");
border-radius: 3px 40px 3px 30px;
box-shadow: 0px 0px 20px 3px #000000;
margin-top:20px;


}


/*blockquote*/

blockquote {
  background: gold;
  border-left: 10px solid #0099FF;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  
}

blockquote p {
  display: inline;
}

aside{


}





